<% include header %>

<form id="form">
  <input id="title" type="text" name="title" placeholder="リスト名を入力してください">
  <input type="submit" value="リスト作成">
</form>
<p id="newAdd"></p>
<p>ToDOList一覧</p>
<ul class='list'></ul>

<% include footer %>
