<% include header %>

<form id="go">
  <input type="text" id="kensaku" placeholder="検索したいキーワードを入力してください" size="30">
  <input type="submit" value="検索">
</form>
<h2>検索結果</h2>
<span id="list"></span>
<ul class='lists'>
</ul>

<span id="todo"></span>
<ul class='todos'>
</ul>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='../javascripts/search.js'></script>
</body>
</html>
